<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'freelancer.css' %}">
  </head>
  <body>

    <div class="main-content">
      <header>
        <a href="{% url 'jobfair_app:index' %}">
          <div class="social-icons">
            <span class="ti-home"></span>
          </div>
        </a>

        <div class="search-wrapper">
          <span class="ti-search"></span>
          <input type="search" placeholder="Search">
        </div>

        <div class="social-icons">
          <span class="ti-comment"></span>
        </div>
      </header>

      <main>
        <h2 class="dash-title">Welcome to {{ user.first_name }}'s Dashboard</h2>
        <div class="dash-cards">
          <div class="card-single">
            <div class="card-body">
              <span class="ti-wand"></span>
              <div>
                <h5>Rating</h5>
              </div>
            </div>
          </div>

          <div class="card-single">
            <div class="card-body">
              <span class="ti-star"></span>
              <div>
                <h5>Badges</h5>
                <h4>Badge Name</h4>
              </div>
            </div>
          </div>

          <div class="card-single">
            <div class="card-body">
              <span class="ti-bookmark"></span>
              <div>
                <h5>Current Project</h5>
                <h4>{{ user.userprofileinfo.project }}</h4>
              </div>
            </div>
          </div>

        </div>

        <section class="recent">
          <div class="activity-grid">
            <div class="activity-card">
              <h3>Recent Projects</h3>

              <table>
                <thead>
                  <tr>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Employer Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Project Name1</td>
                    <td>SD1</td>
                    <td>ED1</td>
                    <td>Employer1</td>
                    <td>
                      <span class="badge
                      success">Success</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Name2</td>
                    <td>SD2</td>
                    <td>ED2</td>
                    <td>Employer2</td>
                    <td>
                      <span class="badge
                      warning">Pending</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Name3</td>
                    <td>SD3</td>
                    <td>ED3</td>
                    <td>Employer3</td>
                    <td>
                      <span class="badge
                      success">Success</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Name4</td>
                    <td>SD4</td>
                    <td>ED4</td>
                    <td>Employer4</td>
                    <td>
                      <span class="badge
                      success">Success</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Name5</td>
                    <td>SD5</td>
                    <td>ED5</td>
                    <td>Employer5</td>
                    <td>
                      <span class="badge
                      warning">Pending</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="summary">
              <div class="summary-card">
                <div class="summary-single">
                  <span class="ti-id-badge"></span>
                  <div>
                    <h5>20</h5>
                    <small>Number Of projects</small>
                  </div>
                </div>
                <div class="summary-single">
                  <span class="ti-calendar"></span>
                  <div>
                    <h5>10</h5>
                    <small>Remaining Projects</small>
                  </div>
                </div>
                <div class="summary-single">
                  <span class="ti-package"></span>
                  <div>
                    <h5>20,000</h5>
                    <small>Total amount received</small>
                  </div>
                </div>
              </div>

              <div class="bday-card">
                <div class="bday-flex">
                  <div class="bday-img"></div>
                    <div class="bday-info">
                      <h5>{{ user.username }}</h5>
                      <small>Your Profile</small>
                    </div>
                </div>

                <div class="text-center">
                  <a href="{% url 'jobfair_app:profile' %}">
                  <button>
                    <span class="ti-ink-pen"></span>
                    Visit Profile
                  </button>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </section>

      </main>
    </div>

  </body>
</html>
