<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <a href="{% url 'jobfair_app:index' %}">
          <img class="logo" src="{% static 'jb.jpg' %}">
        </a>
        <ul>


          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'jobfair_app:dashboard' %}"> Dashboard </a></li>

          {% if user.userprofileinfo.role == 'employer' %}
            <li><a class="active" href="{% url 'jobfair_app:project_create' %}">Create Project</a></li>
          {% endif %}
          <li> <a href="{% url 'jobfair_app:logout' %}">{{user.username}} Logout</a> </li>
          {% else %}
          <li><a href="{% url 'jobfair_app:register' %}">Register</a></li>
          <li> <a href="{% url 'jobfair_app:user_login' %}">Login</a> </li>

          {% endif %}
        </ul>
      </nav>
      <div class="center">
        <h1>Welcome To JOBFAIR</h1>

        <h2>Join with the biggest job search and recruitement</h2>
        <div class="buttons">
          <a href="{% url 'jobfair_app:project_list' %}">
            <button class="btn">Projects</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
