<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>

      <div class="loginbox">
        <img src="{% static 'avatar.png' %}" class="avatar">
        <h1>Login Here</h1>
        {% if wrong_credential %}
          <h2>Invalid credentials, Please enter again</h2>
        {% endif %}
        <form action="{% url 'jobfair_app:user_login' %}" method="post" >
          {% csrf_token %}

          <p>Username</p>
          <input type="text" name="username" placeholder="Enter Username">
          <p>Password</p>
          <input type="password" name="password" placeholder="Enter Password">
          <input type="submit" name="" value="Login">
          <a href="#">Forgot Password?</a>
          <br>
          <a href="{% url 'jobfair_app:register' %}">Don't have an account?</a>
        </form>
      </div>
    </body>
  </head>
</html>
