{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'project_list.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
{% endblock style %}

{% block title %}Projects{% endblock title %}

{% block body %}
<div class="wrapper">
  <div class="project">
    <h1>Projects</h1>
    <ul>
      <li>
        <span class="prj">Project</span>
        <span class="stp">Stipend</span>
        <span class="bdg">Votes</span>
      </li>
    </ul>
    <ul>
      {% for project in project_list %}
      <li>
        <span class="name"><a href="{{project.id}}">{{project.name}}</a></span>
        <span class="stipend">{{project.stipend}}</span>
        <span class="badge">{{project.upvote}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock body %}