<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'project_create.css' %}">
  </head>
  <body>

    <div class="wrapper">
      <nav class="navbar">
        <a href="{% url 'jobfair_app:index' %}">
          <img class="logo" src="{% static 'jb.jpg' %}">
        </a>
        <ul>
          <li><a class="active" href="{% url 'jobfair_app:project_create' %}">Create Project</a></li>
          <li><a href="{% url 'jobfair_app:register' %}">Register</a></li>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% if user.is_authenticated %}
          <li> <a href="{% url 'jobfair_app:logout' %}">{{user.username}} Logout</a> </li>
          {% else %}
          <li> <a href="{% url 'jobfair_app:user_login' %}">Login</a> </li>
          {% endif %}
        </ul>
      </nav>


    <div class="regform">
      <h1>Create Project</h1>
    </div>
    <div class="main">
      <form method="post">
        {% csrf_token %}
      <!--
        <div id="name">
          <h2 class="name">Name</h2>
          <input class="firstname" type="text" name="first_name"><br>
          <label class="firstlabel">first name</label>
          <input class="lastname" type="text" name="last_name"><br>
          <label class="lastlabel">last name</label>
        </div>
-->
        <h2 class="name">Project Name</h2>
        {{form.name}}

        <h2 class="name">Stipend</h2>
        {{form.stipend}}

        <h2 class="name">Skills Required</h2>
        {{form.skills}}

        <h2 class="name">Description</h2>
        {{form.description}}

        <h2 class="name">Upvote</h2>
        {{form.upvote}}

        <h2 class="name">Downvote</h2>
        {{form.downvote}}
<!--
        <h2 id="student">Vote</h2>
        <label class="radio">
          <input class="radio-one" type="radio" checked="checked" name="">
          <span class="checkmark"></span>
          Upvote
        </label>
        <label class="radio">
          <input class="radio-two" type="radio" name="">
          <span class="checkmark"></span>
          Downvote
        </label>
-->
        <button type="submit">Submit</button>

      </form>
    </div>
  </div>

  <script>
  document.getElementById("id_name").classList.add("company")
  document.getElementById("id_stipend").classList.add("stipend")
  document.getElementById("id_skills").classList.add("skills")
  document.getElementById("id_skills").classList.add("textarea")
  document.getElementById("id_description").classList.add("textarea")
  document.getElementById("id_upvote").classList.add("stipend")
  document.getElementById("id_downvote").classList.add("stipend")
  </script>
  </body>
</html>
