{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}
{% block registeractive %}active{% endblock registeractive %}
{% block body %}

<body>
  {% if registered %}
  <h1 class='text-center my-3'>Thank You for registering</h1>
  <h2 class='text-center my-3'><a href="{% url 'jobfair_app:index' %}"> Go to Home page </a></h2>

  {% else %}
  <h1 class='text-center my-3'>SignUp</h1>
  <div class="form-group my-5">
    <form action="/jobfair_app/register/" method="post">
      {% csrf_token %}
      <div class="container mt-3">
        {{user_form.as_p}}
        {{profile_form.as_p}}

      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
  {% endif %}

  {% endblock body %}
