<!DOCTYPE html>
<html>
  <head>
    <title>SignUp</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">

  </head>
  <body>
    {% if registered %}
      <h1>Thank You for registering</h1>
      <h2><a href="{% url 'jobfair_app:index' %}"> Go to Home page </a></h2>
    {% else %}
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <h1>SignUp</h1>


        {{ user_form.username }}
        {{ user_form.password }}
        {{ user_form.email }}
        {{ user_form.first_name }}
        {{ user_form.last_name }}
        {{ profile_form.rating }}
        {{ profile_form.description }}

        <input type="text" name="role" list="role_list" placeholder="Want to become" id="id_role">
        <datalist id="role_list">
          <option value="freelancer">FreeLancer</option>
          <option value="employer">Employer</option>
        </datalist>          
          {{ profile_form.project }}
          
        
        

      <button type="submit">SignUp</button>
    </form>

      <script>
      document.getElementById("id_username").placeholder= "Username"
      document.getElementById("id_password").placeholder= "Password"
      document.getElementById("id_email").placeholder= "Email"
      document.getElementById("id_first_name").placeholder= "First Name"
      document.getElementById("id_last_name").placeholder= "Last Name"
      document.getElementById("id_rating").placeholder= "Rating"
      document.getElementById("id_description").placeholder= "Description"
      </script>



    {% endif %}


  </body>
</html>
