<!DOCTYPE html>
<html>
  <head>
    <title>SignUp</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">

  </head>
  <body>
    <form>
      <h1>SignUp</h1>
      <input type="text" name="" placeholder="Username">
      <input type="text" name="" list="tech" placeholder="Want to become">
      <datalist id="tech">
        <option>FreeLancer</option>
        <option>Employer</option>
      </datalist>
      <input type="email" name="" placeholder="Email">
      <input type="password" name="" placeholder="Password">
      <input type="password" name="" placeholder="Confirm Password">
      <button type="submit">SignUp</button>
    </form>
  </body>
</html>