@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url(b1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    height: 70px;
    padding: 5px 40px;
}

.navbar ul li{
    display: list-item;
    line-height: 50px;
}

.navbar ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #BBE1FA;
    transition: 0.5s;
}

.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-align: center;
}

.center h1{
    color: white;
    font-size: 70px;
    width: 900px;
}

.buttons button{
    height: 50px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: red;
    outline: auto;
    cursor: pointer;
    border-radius: 0px;
}

.buttons button:hover{
    background: #BBE1FA;
}