@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper{
    background: url(b1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    padding-top: 50px;
    height: 100vh;
}

.logo{
    width: 140px;
    height: 70px;
    padding: 5px 40px;
}

.navbar ul li{
    display: list-item;
    line-height: 50px;
}

.navbar ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #BBE1FA;
    transition: 0.5s;
}

.stipend{
    color: black;
    font-weight: 500;
    margin-left: 300px;
}

.badge{
    color: black;
    font-weight: 500;
    margin-left: 100px;
}

.prj{
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

.bdg{
    color: black;
    font-weight: 700;
    padding-top: 10px;
    margin-left: 100px;
}

.stp{
    color: black;
    font-weight: 700;
    padding-top: 10px;
    margin-left: 300px;
}
.project ul{
    position: relative;
    width: 650px;
    margin: 100px auto 0;
    margin-top: 0px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    font-size: 20px;
}

.project ul li{
    display: flex;
    background: rgba(255,255,255,.8);
    padding: 10px 20px;
    color: #000;
    margin: 10px 0;
    transition: .5s;
}

.project a{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    color: black;
    font-weight: 500;
}

.project a:hover {
    color: darkblue; 
    text-decoration:none; 
    cursor:pointer;  
}

.project ul li span{
    width: 50px;
    text-align: right;
}

.project ul li:hover{
    transform: scale(1.04);
    background: #ff3772;
}

.project{
    width: 650px;
    background-color: rgba(0,0,0,0.8);
    margin-left: 435px;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    margin-top: 0px;
}

